<h4 class="text-capitalize">Form Edit Jenis Barang</h4>

<div class="row">
    <div class="col-lg-6">
        <form action="/master/departemen/proses-update/<%= departemen[0].id %>" method="post">
            <div class="mb-3">
                <label class="form-label">Kode Barang</label>
                <input type="text" class="form-control" name="f_kode" value="<%= departemen[0].kode %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Nama Barang</label>
                <input type="text" class="form-control" name="f_nama_departemen" value="<%= departemen[0].nama_departemen %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" name="f_description" value="<%= departemen[0].description %>">
            </div>
            <button type="submit" class="btn btn-warning">Update</button>
        </form>
    </div>
</div>